html {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-parent {
  height: 250px;
  width: 500px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-image: linear-gradient(
    to top,
    #ff9a9e 0%,
    #fecfef 99%,
    #fecfef 100%
  );
  border-radius: 15px;
}

.list-name {
  height: 30px;
  background-color: white;
  width: 400px;
  margin-bottom: 5px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
}
